.c-pointer {
  cursor: pointer;
}

.title {
  font-size: 56px;
  font-weight: 400;
}

@media (max-width: 500px) {
  .title {
    font-size: 40px;
  }
}

.subtitle {
  font-size: 25px;
}

@media (max-width: 500px) {
  .subtitle {
    font-size: 20px;
  }
}

.subsubtitle {
  font-size: 25px;
}
